.task-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.input-container,
.textarea-container {
  width:inherit;
  margin-top: 5px;
  color: white;
}

.task-edit-form-input {
  max-width: inherit;
}

.task-edit-form-textarea {
  width: inherit;
}

.btn-container {
  display: flex;
  flex-direction: row;
}
.save-btn,
.cancel-btn {
  margin: 0 5px;
  width: 50px;
  background-color: white;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.8;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
